@charset "utf-8";



.title {
    background-color: rgba(84, 76, 68, 0.75);
	position: absolute;
    z-index: 0;
    width:100%;
    position: fixed;
    top:0px;
    left:0px;
    color:white;
	
}


body {
    top: 80px;
    position:relative;
}

h3 {
    color: black;
    border-radius: 20px;
    
    text-align: center;
    border:solid 1px black;
    width:200px;
    height:50px;
    line-height:50px;
    background-color: white;
    margin: 10px auto;
}

h1 {
    
    text-align: center;
}


html {
    background-color: rgba(130, 184, 209, 0.5);
}
