@charset "utf-8";

.title {
  background-color: rgba(84, 76, 68, 0.75);
  position: absolute;
  z-index: 0;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  color: white;
}

body {
  top: 80px;
  position: relative;
  width: 100%;
}

date {
  color: black;
  border-radius: 20px;

  display: block;
  text-align: center;
  border: solid 1px black;
  width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: white;
  margin: 10px auto;
}

h1 {
  text-align: center;
}

html {
  background-color: rgba(130, 184, 209, 0.5);
}
replies {
  display: block;
  background-color: rgba(184, 209, 130, 0.5);
}

strong {
  display: block;
  text-emphasis-color: red;
  color: blue;
}
code {
  display: block;
}
strike {
  display: block;
}
url {
  display: block;
}
emoji {
  display: inline-block;
}
mention {
  display: block;
}
user_id {
  font-weight: bold;
}
user {
  font-weight: bold;
  display: block;
  
}
ts {
  display: block;
}

attachments {
  display: flex;
  background-color: antiquewhite;
  justify-content: space-between;
}
.attachments_text {
  width: 75%;
}
.attachments_img {
  width: 25%;
}
title,
author_name,
fallback,
pretext,
author_link,
text {
  display: block;
}
title {
  display: block;
}
.btn {
  display: block;
}
